<div class="text-center main_page container">
<h1 class="main_page_text">Go Fork Yourself</h1>
</div>
<br>
<div class='text-center main_links'>
  <a title='Recipes' href="/recipes/"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span></a>
  <a title='Categories' href="/categories/"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></a>
  <a title='Ingredients' href="/ingredients/"><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span></a>
</div>
<div class='admin'>
  <marquee behavior="alternate" direction="left"><a title='admin' href="/admin/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></marquee>
</div>
