<div class="text-center main_page container">
<h1 class="main_page_text">Go Fork Yourself</h1>
</div>
<div class='text-center main-links'>
  <a title='Recipes' href="/recipes/"><i class="fa fa-glass"></i></a>
  <a title='Categories' href="/categories/"><i class="fa fa-cutlery"></i></a>
  <a title='Ingredients' href="/ingredients/"><i class="fa fa-spoon"></i></a>
</div>

<div class='marquee'>
  <marquee direction="down" width="1000" height="200" behavior="alternate">
    <marquee behavior="alternate" direction="left"><a title='admin' href="/admin/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></marquee>
  </marquee>
</div>
