.container {
   font-family: 'GIRegular';
   font-weight: normal;
   font-style: normal;
}

body {
  background-color: #FFC387;
  color: #FFFFFF;
  min-height: 100%;
}


html {
  min-height: 100%;
}

.admin {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #FFFFFF;
}

a:hover {
  color:
}

.recipe_instructions {
  width:auto;
  height: 200px;
  border: #b94a48;
}

.recipe-page {
  width:70%;
  margin: 1% auto;
  text-align: center;
}

#recipe-header {
  margin-left: 15%;
  display:inline;
  text-align: center;
}

.recipe-h3 {
  margin-right: 75%;
  text-align: left;
  color: #4A2500;
}

input {
  width:auto;
}


.main_page {
  margin:auto;
  margin-top:25%;
}

h1 {
  font-size: 5em;
}

.glyphicon {
  font-size: 2em;
}


.glyphicon-globe {
  font-size: 1em;
}

input, select, textarea{
  color: #B7B6B2;
}

.dropdown-admin {
  width: 150px;
  }

table {
  align: center;
  resize:both;
  overflow:auto;
  width:auto;
}

td {
  width: 1px;
}

.times {
  font-size: 15px;
  margin-right: 1%;
  text-align: right;
  color:#4A2500;
}

.recipe-container {
  text-align:right;
  color: #4A2500;
  }

.ingredients-container {
  text-align: left;
}

.time-label {
  text-size: 1em;
  text-align: right;
}

.a-back {
  position:fixed;
  bottom: 10;
}

.num-int {
  text-align: center;
}
