.container {
   font-family: 'GIRegular';
   font-weight: normal;
   font-style: normal;
}

body {
  background-color: #FFC387;
  color: #FFFFFF;
  min-height: 100%;
}


html {
  min-height: 100%;
}

.admin {
  width:auto;
}

.marquee {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


.back {
  position: fixed;
  bottom: 0;
  text-align:center;
  clear:both;
}

.recipe_instructions {
  width: 9.5em;
  height: 200px;
  border: 1px solid #B7B6B2;
}

.recipe-page {
  max-width:1050px;
  margin: 1% auto;
  text-align: center;
}

#recipe-header {
  margin-left: 15%;
  display:inline;
  text-align: center;
}

.recipe-h3 {
  margin-right: 50%;
  text-align: left;
  color: #4A2500;
}

.stars {
  font-size:.6em;
  padding-bottom: 1px;
}

.recipe-h4 {
  color: #4A2500;
}

input {
  width:auto;
}

.ingredient-display {
  color:#4A2500;
}

.ingredient-name {
  padding-left:1em;
}

.main_page {
  margin:auto;
  margin-top:25%;
}

h1 {
  font-size: 5em;
}

.glyphicon {
  font-size: 2em;
}

.glyphicon-globe {
  font-size: 1em;
}

input, select, textarea{
  color: #B7B6B2;
}

.dropdown-admin {
  width: 150px;
  }

table {
  align: center;
  resize:both;
  overflow:auto;
  width:auto;
}

td {
  width: 1px;
}

.times {
  font-size: 15px;
  margin-right: 1%;
  text-align: right;
  color:#4A2500;
}

.recipe-container {
  text-align:right;
  color: #4A2500;
  }

.ingredients-container {
  text-align: left;
}

.time-label {
  font-size: 1em;
  text-align: right;
}

.a-back {
  position:fixed;
  bottom: 10;
}

.num-int {
  text-align: center;
}

.admin-first-column {
  width:45%;
  float:left;
}

.admin-second-column {
  width:45%;
  float:right;
}

@keyframes example {
  from {top: -60px;}
  to {top: 0px;}
}

.fa {
  font-size: 2em;
  margin-right: 10px;
  color: #FFFFFF;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fa:hover {
  color:#50A5FC;
  transform: rotate(360deg) scale(2);
  transition: 1s ease-in-out;
}

.main_page_text:hover {
    transform: scale(2);
    transition: 1s ease-in-out;
}

a {
  color: #FFFFFF;
}

a:hover {
  color:#50A5FC;
}


/*@media screen and (max-width: 1215px) {
  .recipe-page {
    width: 65%;
  }
}

@media screen and (max-width: 1000px) {
  .recipe-page {
    width: 65%;
  }
}*/

@media screen and (max-width: 625px) {
  .recipe-page {
    width: 95%;
  }
}
